﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <input type="text" class="numberInput"/>
    <p>some code can be in between as long as the validation-message is at the same level and in the same container as the input validated</p>
    <span class="validation-message text-danger" hidden="hidden"> Must be a number</span>
</div>
<div class="row">
    <input type="text" class="regexInput" pattern="^(\d+|\d{1,3}(,\d{3})*)(\.\d+)?$|^$" />
    <p class="validation-message text-danger" hidden="hidden"> does not match pattern</p> <!--element type does not matter for the validation message-->
</div>
<input type="hidden" id="numberOfErrors" value="0"/>